section {
  padding: 21rem 24px 21rem 24px;
}

.home {
  color: #ffffff;
  background: #ea8a8a;
}

.aboutMe {
  background: #f2f2f2;
}

.Body .container {
  display: flex;
  flex-direction: column;
}

.projects {
  background: #ea8a8a;
}

.intro {
  margin: 0 50px 0 70px;
  padding: 20px 30px;
}

.Body h1 {
  font-size: 50px;
}

.Body h2 {
  font-size: 36px;
}

.Body .paragraph {
  border: 1px solid #000000;
  margin: 1rem 12rem;
}
