footer {
  padding: 50px 30px;
}

.home {
  color: #ffffff;
  background: #ea8a8a;
  padding: 25rem 24px 25rem 24px;
}

.aboutMe {
  background: #f2f2f2;
  padding: 18rem 50px 18rem 50px;
}

.projects {
  color: #ffffff;
  background: #ea8a8a;
  padding: 25rem 50px 25rem 50px;
}

.intro {
  margin: 0 50px 0 70px;
  padding: 20px 30px;
}

.Body h1 {
  font-size: 50px;
}

.Body h2 {
  font-size: 36px;
}

.Body h3 {
  font-size: 25px;
  padding-top: 10px;
}

.greeting {
  font-size: 40px;
}

.greeting,
.personalParagraph {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #212121;
}

.personalParagraph {
  margin-top: 12px;
  font-size: 18px;
}

.Body .container {
  margin-top: 40px;
  display: block;
  margin: 100px auto 0;
  max-width: 60%;
  text-align: center;
  background: #ea8a8a;
  color: #ffffff;
  border-radius: 5px;
}

.Body ul {
  list-style: none;
}

.languages,
.devTools {
  margin-top: 20px;
}

.Body .title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

.lists {
  margin-top: 15px;
}

.containerOne {
  display: flex;
  justify-content: space-around;
}
