.Header {
  position: fixed;
  border: 1px solid #000000;
  width: 85%;
  margin: 0 auto;
}

.Header .logo {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.Header a {
  text-decoration: none;
}

.Header p {
  text-align: center;
}
