.Home {
  margin-top: 30px;
  text-align: center;
}

.Home .description {
  margin-top: 10px;
}

.Home a {
  margin-right: 10px;
  margin-left: 10px;
}

.Home .socialMediaLinks {
  margin-top: 20px;
}

.Home a:hover {
  text-decoration: none;
}

.Home .linkedin {
  color: #ffffff;
  background: #0b66c1;
}

.Home .linkedin:hover {
  color: #0b66c1;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}

.Home .github {
  color: #ffffff;
  background: #000000;
}

.Home .github:hover {
  color: #000000;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}

.Home .instagram {
  color: #ffffff;
  background: #f00075;
}

.Home .instagram:hover {
  color: #f00075;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}
