.Home {
  margin-top: 30px;
  text-align: center;
}

.Home .description {
  margin-top: 10px;
}

.Home a {
  margin-right: 10px;
  margin-left: 10px;
}

.Home .socialMediaLinks {
  margin-top: 20px;
}

.Home .linkedin {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 4px 1px 4px 5px;
}

.Home .github {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 4px 5px 4px 5px;
}

.Home .instagram {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 4px 6px 4px 6px;
}
