.Home {
  margin-top: 30px;
  text-align: center;
}

.Home .description {
  margin-top: 10px;
}

.Home a {
  margin-right: 10px;
  margin-left: 10px;
}

.Home .socialMediaLinks {
  margin-top: 20px;
}

.Home .linkedin {
  color: #ffffff;
  border: none;
  background: #0b66c1;
  padding: 4px 7px 4px 7px;
}

.Home .github {
  border: none;
  padding: 4px 5px 4px 5px;
}

.Home .instagram {
  background: #f00075;
  border: none;

  padding: 4px 6px 4px 6px;
}

.Home .instagramIcon {
  color: #ffffff;
}
