.Technologies {
  margin-top: 60px;
}

.Technologies .html {
  color: #e44d27;
}

.Technologies .css {
  color: #1f62ae;
}

.Technologies .javascript {
  color: #fbde33;
}

.Technologies .bootstrap {
  color: #733ec0;
}

.Technologies .react {
  color: #03d8fe;
}

.Technologies .visualStudio {
  margin-top: 4px;
}

.Technologies .hosting {
  margin-top: 10px;
}
